<!DOCTYPE html>
<html>
<head>
    <title>CityBikes API Demo</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWn6u1KkmmuExBHMGNUuyKe4BgFsGHgq4&center"></script>
    <style>
        /* Add any custom CSS styles here if needed. */
    </style>
</head>
<body>
    <h1>CityBikes API Demo</h1>

    <form method="POST">
        <label for="country">Select a Country:</label>
        <select name="country" id="country">
            <option value="all">Choose Country</option>
            {% for country in countries %}
                <option value="{{ country }}">{{ country }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Get Stations">
    </form>

    <ul>
        {% if stations %}
            {% for station in stations %}
                <li>
                    <h2>{{ station.name }}</h2>
                    <p>Location: {{ station.location.city }}</p>
                    <p>Latitude: {{ station.location.latitude }}</p>
                    <p>Longitude: {{ station.location.longitude }}</p>
                    <div id="map_{{ station.name }}" style="width: 600px; height: 450px;"></div>
                    <script>
                        function initMap_{{ station.name }}() {
                            var latitude = {{ station.location.latitude }};
                            var longitude = {{ station.location.longitude }};
                            var stationLocation = { lat: latitude, lng: longitude };
                            var map_{{ station.name }} = new google.maps.Map(document.getElementById('map_{{ station.name }}'), {
                                zoom: 18,
                                center: stationLocation,
                                mapTypeId: 'satellite'
                            });
                            var marker = new google.maps.Marker({
                                position: stationLocation,
                                map: map_{{ station.name }}
                            });
                        }
                        initMap_{{ station.name }}();
                    </script>
                </li>
            {% endfor %}
        {% else %}
            <li>No stations found.</li>
        {% endif %}
    </ul>
</body>
</html>

