<!DOCTYPE html>
<html>
<head>
    <title>CityBikes API Demo</title>
</head>
<body>
    <h1>CityBikes API Demo</h1>

    <form method="POST">
        <label for="country">Select a Country:</label>
        <select name="country" id="country">
            <option value="all">Choose Country</option>
            {% for country in countries %}
                <option value="{{ country }}">{{ country }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Get Stations">
    </form>

    <ul>
        {% if stations %}
            {% for station in stations %}
                <li>
                    <h2>{{ station.name }}</h2>
                    <p>Location: {{ station.location.city }}</p>
                    <p>Latitude: {{ station.location.latitude }}</p>
                    <p>Longitude: {{ station.location.longitude }}</p>
                    <iframe
                        width="600"
                        height="450"
                        frameborder="5"
                        scrolling="no"
                        marginheight="0"
                        marginwidth="0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyAWn6u1KkmmuExBHMGNUuyKe4BgFsGHgq4&center={{ station.location.latitude }},{{ station.location.longitude }}&zoom=18&maptype=satellite">
                    </iframe>
                </li>
            {% endfor %}
        {% else %}
            <li>No stations found.</li>
        {% endif %}
    </ul>
</body>
</html>
